name: unit-tests

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install modules
        run: npm install
      - name: Run tests
        run: npm run test:ci
